$primary-color: #5E2750;
$secondary-color: #E2A93A;
$success: #5A847B;
$link-color: #f4f7fa;
$light: #FDF9F3;
$dark: #2C2C2C;

:root {
  --primary-color: #5E2750; /* gray-700 */
  --primary-hover: #FFF9E9; /* gray-800 */
  --secondary-color: #E2A93A;
  --success-color: #5A847B;
  --text-light: #FDF9F3; /* gray-100 */
  --text-dark: #2C2C2C;
  --content-bg: #f4f7fa;
  --border-color: #4a5568;
  --sidebar-width: 180px;
  --bs-link-color-rgb: #5A847B;
  --border-radius: 8px;
}

body {
  background-color: #FBF0D9;
  background-image: url('../assets/paper-texture.png');
  background-repeat: repeat;
  background-blend-mode: multiply;
  background-attachment: fixed;
  [id]{scroll-margin-top: 120px} // account for header in scrolling to id tags
}

.app-layout {
  display: flex;
  height: 100%;
  width: 100vw;
  overflow: scroll;
}

main {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 0.85rem;
  color: var(--text-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

.header-font {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.logo-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

a{
  color: #5A847B !important;
  &:hover{
    color: var(--secondary-color) !important;
  }
}

h3{
  @extend .header-font;
  margin-bottom: 0 !important;
}

h4{
  @extend .header-font;
  margin-bottom: 0 !important;
}

h5{
  @extend .header-font;
  // text-decoration: underline;
}

// beacuse of issues with strapi block editor
br {
  display: none;
}

ul br{
  display: block;
}

// make sure that not all uls are messed up
ul:has(+ ul) {
  margin-bottom: 0 !important;
}

table{
  width: 100%;
  border: 1px solid var(--secondary-color);
  border-collapse: collapse;

  td, th{
    cursor: pointer;
    padding: 4px 16px;
    border-top: 0.5px solid var(--secondary-color);
    // border-bottom: 1px solid var(--secondary-color);
    background-color: white;
    transition: 0.2s all;
  }

  tr:hover{
    td{
      color: white;
      background-color: var(--secondary-color);
      a{
        color: white !important;
      }
    }
  }
}

span.badge.bg-primary{ background-color: var(--primary-color) !important;}