@use '__defaults.scss';

.app-nav-link,
.app-nav-link.btn,
.app-nav-link.btn-primary {
  @extend .header-font;
  cursor: pointer;
  display: block;
  color: var(--text-light);
  background-color: transparent;
  border: 0;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease, color 0.2s ease;
  font-size: 0.9rem;
  font-weight: 100;

  &:hover {
    color: var(--text-light) !important;
    background-color: var(--secondary-color) !important;
  }
}

.dropdown-menu{
  background-color: var(--primary-color) !important;
}

.dropdown-item{
  &:hover{
    background-color: var(--primary-color) !important;
  }
}

[class^="col-"], [class*=" col-"] {
  margin-bottom: 16px !important;
}

.app-hero{
  background-color: white;
  border: 2px solid var(--secondary-color);
  border-radius: var(--border-radius);
  padding: 16px;
  margin: 16px 0;

  [class^="col-"], [class*=" col-"] {
    margin: 0 !important;
  }
}

.lemma-container{
  [class^="col-"], [class*=" col-"]{
    margin: 0 !important;
  }
  .row{
    margin: 0;
  }
}

.lemma-section-container{
  margin: 16px 0 !important;
  padding: 16px;
  border-radius: var(--border-radius);
  background-color: white;
  border: 1px solid var(--secondary-color);

  &.green{ border-color: var(--success-color);}
  &.gray{ border-color: lightgray;}

  img:not(.ignore-default-lemma-section-container-format){
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.lemma-internal-link{
  cursor: pointer;
  border: 1px solid var(--success-color);
  border-radius: var(--border-radius);
  padding: 8px;
  transition: all 0.2s;
  &:hover{
    background-color: var(--secondary-color);
  }
}

.clickable {
  cursor: pointer;
}

.image-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: var(--border-radius);

  &.hero-img {
    height: 100%;
  }

  &.level-group {
    width: 100px;
    height: 160px;
  }

  &.lemma-header{
    max-width: 250px;
    height: 100%;
    // margin: 16px;
    img{
      object-fit: contain
    }
  }

  &.lemma-overview {
    height: 300px;
    width: 200px;
  }

  &.partner-logo{
    height: 32px;
    width: 32px;
    border-radius: 8px;
  }

  &.xs{
    height: 60px;
    &.fixed{
      width: 35px;
      min-width: 35px;
      max-width: 35px;
    }
  }

  &.info-page{
    height: 100%;
  }

  img {
    /* Make the image take up 100% of the wrapper's space */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card{
  @extend .header-font;
  a{
    color: var(--primary-color) !important;
    font-weight: 700 !important;
    font-size: 0.9rem;
  }

  // border-color: var(--secondary-color) !important;
  border-width: 0.5px;

  .card-body{
    padding: 8px 16px 16px 16px;
  }

  &.card-hover:hover{
    cursor: pointer;
    border-color: var(--secondary-color);
    scale: 1.01;
    transition: all 0.2s;
  }
}

.print-mode{
  padding: 0 16px;

  .hide-in-print-mode{
    display: none;
  }
}

.pretty-button {
  cursor: pointer;
  display: block;
  border-radius: var(--border-radius);
  outline: 1px solid var(--secondary-color);
  color: var(--text-dark) !important;
  background-color: white;
  border: 0;
  padding: 6px 8px;
  transition: all 0.3s;
  text-decoration: none !important;
  &:hover{
    color: var(--text-dark) !important;
    background-color: var(--secondary-color) !important;
  }

  &.library-orange{
    font-size: 0.7rem;
    outline-color: #F4893E;
    background-color: #F4893E !important;
      color: white !important;
    &:hover{
      color: black !important;
      background-color: #F4893E !important;
    }
  }
}

.feedback-form-container{
  padding: 16px;
  border-radius: var(--border-radius);
  background-color: white;
  border: 2px solid var(--secondary-color);

  textarea{
    height: 250px;
  }

  button{
    width: 100%;
  }
}

.only-show-in-pdf{
  display: none;
}

.primary-hover:hover{
  color: var(--primary-color);
  > *{stroke: var(--primary-color)};
}

.link{
  cursor: pointer;
  @extend a;
}

.lemma-overview-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 16px;
}

// pass grid down between card components
.lemma-overview-container .card,
.lemma-overview-container .card-body {
  grid-row: span 4;
  display: grid;
  grid-template-rows: subgrid;
  height: auto !important;
}

.lemma-overview {
  display: grid;
  grid-row: span 4;
  grid-template-rows: subgrid;
  gap: 32px;
}

.tag-entry {
  display: flex;
  justify-content: start;
  align-items: center;

  gap: 8px;
  padding: 8px 16px;
  margin: 16px 0;

  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 16px;
  border: 1px solid var(--secondary-color);

  &:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
    color: white;
    transition: all 0.2s;
  }
}

a.link-unstyled {
  text-decoration: none !important; /* Removes underline */
  color: inherit !important;       /* Takes the color of the parent text */
  cursor: pointer !important;      /* Keeps the "hand" icon on hover */
  display: contents !important;    /* Optional: Makes the link container "invisible" to layout */
}