@use './__defaults.scss';
@use './App.scss';

.app-header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
}

// .app-header::before {
//   content: '';
//   position: absolute;
//   top: 40px;
//   left: -40px;
//   width: 20px; /* Radius size */
//   height: 20px; /* Radius size */
//   border-radius: 0 0 40px 0; /* Only round the bottom-right of the pseudo-element */
//   box-shadow: 20px 20px 0 20px var(--primary-color); /* The magic: creates a white circle to "fill" the corner */

//   /* The shadow color must match the background *behind* your main div
//      If your div is on a white background, use 'white' for the shadow color */
// }

.app-header-brand{
  @extend .header-font;
  color: var(--secondary-color);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  font-size: 2.5rem;
}

.app-header-link-container {
  width: auto;
  color: var(--text-light) !important;
  span{color: var(--text-light) !important;}
  a, a:hover{color: var(--text-light) !important;}
}

.app-mobile-offcanvas {
  background-color: var(--primary-color) !important;
  .btn-close{
    color: var(--text-light) !important;
  }
}

.app-mobile-offcanvas-link-container{
  width: auto;
  color: var(--text-light) !important;
  a{color: var(--text-light) !important;}
  span{color: var(--text-light) !important;}
}

.app-header-mobile-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
  box-sizing: border-box;

  .app-header-brand{
    font-size: 24px;
  }
}