@use './_defaults';

.searchbar-container {
  position: relative;
  overflow: visible;
  font-size: 11px;
}

.searchbar-input{
  font-size: 11px !important;
  margin-right: 16px !important; // account for font clipping in chrome
}

.searchbar-dropdown {
  position: absolute;
  border: 1px solid var(--secondary-color);
  z-index: 100;
  max-height: 250px;
  overflow: scroll;

  // for desktop view, show extra width search
  width: 150%;
  margin-left: -50%;

  // for mobile view, only show full width
  @media(max-width: 992px) {
    width: 100%;
    margin-left: 0;
  }
}

.searchbar-lemma-suggestion {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
  transition: all 0.3s;
  background-color: white;
  &:hover{
    background-color: var(--secondary-color);
  }
}