@use './App.scss';

/* --- Sidebar Styles --- */
.sidebar {
  position: fixed;
  width: var(--sidebar-width);
  height: 100%;
  min-height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);

  a{
    color: white !important;
  }
}


.sidebar-open .sidebar {
  transform: translateX(0);
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
  transition: all 0.3s ease-in-out;
}

.sidebar-open main {
  margin-left: var(--sidebar-width) !important;
  transition: all 0.3s ease-in-out;
}

.sidebar-header {
  @extend .header-font;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.sidebar-nav {
  @extend .header-font;
  position: sticky;
  top:80px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 0.5rem;
}

.sidebar-nav-link{
  @extend .app-nav-link;
  margin-top: 0;
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  text-align: end;
}

.sidebar-nav-group-header{
  color: var(--text-light);
  font-size: 18px;
  // text-decoration: underline;
  padding: 0;
  font-weight: 600;
  &:not(:first-child){
    margin-top: 32px;
  }
}