@use './App.scss';

/* --- Sidebar Styles --- */
.sidebar {
  width: 210px;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 0.75rem 2rem;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;

  a{
    color: white !important;
  }
}

.sidebar-header {
  @extend .header-font;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.sidebar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-light);
  text-decoration: none;
}

.sidebar-nav {
  @extend .header-font;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
}

.sidebar-nav-group-header{
  color: var(--text-light);
  font-size: 18px;
  text-decoration: underline;
  padding: 0 0.5rem;
  font-weight: 600;
}