nav * {
  color: white !important;
  text-decoration: none !important;
}

a {
  text-decoration: none;
  color: black;
}

h4{
  margin-bottom: 0 !important;
}

h5{
  text-decoration: underline;
}

.lemma-header{
  padding: 8px 0;
}

.lemma-section {
  margin: 16px 0;
}